#veterinarias {
  width: 100%;
  height: 90%;
  background-color: transparent;
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#veterinarias section {
  width: 1200px;
  height: 550px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2%;
  padding-bottom: 20%;
  border-radius: 10px;
}

.veterinarias {
  display: flex;
  flex-direction: row;
}

#veterinarias p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
}

#veterinarias section img {
  width: 600px;
  height: 400px;
  margin-left: 2%;
  border-radius: 10px;
}

#veterinarias h4 {
  text-align: center;
  color: rgb(223, 248, 80);
  font-family: "Baskervville SC", serif;
  font-size: 30px;
  padding-bottom: 2%;
  padding-top: 2%;
}

#veterinarias h3 {
  color: #ffffff;
}

#product-container {
  display: flex;
  flex-direction: column;
}

.sectores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.productos {
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 6px 0 rgba(163, 158, 158, 0.8);
  width: 300px;
  height: 400px;
  margin: 2%;
  border-radius: 10px;
  text-align: center;
}

.productos img {
  width: 90%;
  height: 60%;
  margin: 2%;
  border-radius: 10px;
}

.productos:hover {
  transform: scale(1.1);
  background-image: linear-gradient(rgb(243, 127, 247), rgb(101, 247, 101));
  color: black;
}

#grid-nosotros {
  display: grid;
  height: 90%;
  grid-template-rows: 350px 350px;
  grid-template-columns: 50% 50%;
  grid-template-areas: "a1 a2" "a1 a3" "a1 a4";
  background-color: transparent;
  padding: 8% 0%;
}
#grid-nosotros h3 {
  color: #ffffff;
  text-align: center;
}

#grid-nosotros img {
  width: 490px;
  height: 300px;
  margin-bottom: 8%;
  border-radius: 15px;
}

#grid-nosotros p {
  color: #ffffff;
  font-size: 35px;
}

.img-uno {
  grid-area: a2;
  margin-left: 15%;
}

.img-dos {
  grid-area: a3;
}

.img-tres {
  grid-area: a4;
  margin-left: 15%;
}

.parrafo {
  grid-area: a1;
}

.faster .carousel-inner {
  transition: 10s;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 8%;
}

.flex-container .btn {
  background-color: #4646df;
  color: #ffffff;
}

.flex-container .btn:hover {
  background-color: #66f3ad;
  color: #040453;
}

.form-container {
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h5 {
  margin: 10px 0;
  font-weight: 800;
  text-align: center;
}

.form {
  background-image: linear-gradient(rgb(238, 199, 240), rgb(153, 248, 153));
  width: 30%;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
  margin: auto;
}

form {
  width: 100%;
  margin: auto;
}
form .grupo {
  position: relative;
  margin: 45px;
}

.grupo {
  position: relative;
  margin: 45px;
}

input, textarea {
  background: none;
  color: #c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(73, 56, 56, 0.3490196078);
  resize: none;
}

input:focus, textarea:focus {
  outline: none;
  color: rgb(94, 93, 93);
}

input:focus ~ label,
textarea:focus ~ label {
  position: absolute;
  top: -14px;
  font-size: 18px;
  color: #2d3f4e;
}

label {
  color: #2d3f4e;
  font: 16px;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.3s ease all;
}

.barra {
  position: relative;
  display: block;
  width: 100%;
}

.barra::before {
  content: "";
  height: 3px;
  width: 0;
  bottom: 0;
  position: absolute;
  background-image: linear-gradient(to right, rgb(247, 2, 255), rgb(0, 255, 0));
  transition: 0.3s ease all;
  left: 0;
}

input:focus ~ .barra::before, textarea:focus ~ textarea::before {
  width: 100%;
}

.bt-form {
  background: #fc5c7d;
  background: linear-gradient(to right, #bb57c9, #ffa703);
  display: block;
  width: 200px;
  height: 60px;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  font-size: 30px;
  margin: 20px auto 10px auto;
  cursor: pointer;
  box-shadow: 1px 2px 2px black, 0 0 25px rgb(253, 253, 253), 0 0 5px rgb(30, 43, 219);
}
.bt-form:hover {
  transform: scale(1.1);
  color: #ffffff;
}

.form-container .bt-form {
  width: 170px;
  height: 40px;
  font-size: 22px;
}

@media screen and (max-width: 1000px) {
  .form {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .form {
    width: 60%;
  }
}
@media screen and (max-width: 450px) {
  .form {
    width: 80%;
  }
}
@media screen and (max-width: 300px) {
  .form {
    width: 90%;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Baskervville SC", serif;
}

body {
  background-image: linear-gradient(to right, rgb(11, 11, 160), rgb(255, 148, 8));
  width: 99%;
}

header {
  width: 100%;
}

/*CARRUSEL*/
.carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 15s infinite alternate ease-in-out;
}

.carousel li {
  width: 100%;
  list-style: none;
  position: relative;
  margin-left: 0.5%;
}

.carousel img {
  width: 100%;
  height: 590px;
  align-items: center;
  border-radius: 15px;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
/*TITULO*/
.titulo {
  font-size: 55px;
  color: #66f3ad;
  text-align: center;
  float: left;
  text-shadow: 1px 2px 2px black, 0 0 25px rgb(35, 209, 142), 0 0 5px rgb(30, 43, 219);
  animation-duration: 2s;
}

/*BARRA DE NAVEGACION*/
#navbar {
  display: none;
}

.navbar-grande {
  background-color: rgba(0, 0, 0, 0.5);
  width: 101%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 8%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
nav li {
  text-align: center;
  padding: 0% 2%;
  font-family: "Baskervville SC", serif;
  font-weight: 400;
  font-style: normal;
  float: right;
  border-left: 1px white solid;
  font-size: 18px;
}

/*BOTONES*/
.fill:focus, .fill:hover {
  box-shadow: inset 0 0 0 2em var(--hover);
}

.fill {
  --color:#ffffff;
  --hover: #66f3ad;
}

button {
  color: var(--color);
  transition: 0.75s;
  font-size: 18px;
  align-items: center;
}

button:focus, button:hover {
  border-color: var(--hover);
  color: #000007;
  margin-top: 2%;
}

.radius {
  background: 0 0;
  font-size: inherit;
  line-height: 1;
  padding: 1em 2em;
  border-radius: 20px;
}

.nav a {
  margin-top: 2%;
}

/*DESCUENTO*/
h2 {
  text-align: center;
  font-family: "Baskervville SC", serif;
  font-weight: 400px;
  font-size: 100px;
  padding: 2% 0;
  background-color: rgba(207, 207, 207, 0.4);
  width: 101%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descuento {
  background: transparent;
  padding: 0 2%;
  width: 101%;
}

.lista {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.lista a {
  text-decoration: none;
  color: #000007;
}

.producto {
  width: 250px;
  height: 370px;
  background-color: #ffffff;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 5%;
  padding-top: 2%;
  font-size: 19px;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}
.producto:hover {
  transform: scale(1.1);
  background-image: linear-gradient(rgb(226, 109, 255), rgb(101, 247, 101));
}

.producto img {
  width: 190px;
  height: 210px;
}

.producto p {
  margin-bottom: 5%;
}

/*FOOTER*/
.footer {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  margin-top: 5%;
  padding: 0.5%;
  font-family: "Baskervville SC", serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 1px 2px 2px black, 0 0 25px rgb(35, 209, 142), 0 0 5px rgb(30, 43, 219);
}

.footer p {
  font-size: 20px;
}

.footer ul li {
  list-style: none;
}

.mapa p {
  text-align: center;
  padding: 5px;
}

.mapa iframe {
  width: 600px;
  height: 280px;
}

.redes {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* RESPONSIVE  */
@media (max-width: 1300px) {
  /* NAVBAR*/
  #navbar {
    display: flex;
  }
  #container-fluid {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .navbar h1 {
    font-size: 30px;
  }
  .navbar-grande {
    display: none;
  }
  .offcanvas-body {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .offcanvas-header {
    background-color: rgba(169, 233, 206, 0.9);
  }
  .nav-item:hover {
    border-radius: 20px;
    background-color: rgba(102, 243, 173, 0.7);
    transition: 1s;
  }
  /* CARROUSEL  */
  .carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0%;
    margin: 0%;
  }
  .carousel ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
  }
  .carousel li {
    width: 100%;
    list-style: none;
    position: relative;
  }
  .carousel img {
    width: 100%;
    height: 400px;
    align-items: center;
  }
  @keyframes slide {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }
  /* DESCUENTO  */
  h2 {
    font-size: 60px;
  }
  .descuento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(218, 252, 236, 0.8);
    padding: 0%;
  }
  .descuento .lista {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .producto {
    margin-bottom: 5%;
    margin-left: 7%;
    width: 85%;
    height: 400px;
    font-size: 12px;
  }
  .producto img {
    width: 80%;
    height: 300px;
  }
  .producto p {
    font-size: 20px;
  }
  .producto:hover {
    transform: none;
    background-image: linear-gradient(rgb(226, 109, 255), rgb(101, 247, 101));
  }
  .producto:active {
    background-image: linear-gradient(rgba(255, 136, 0, 0.5), rgba(109, 102, 94, 0.5));
  }
  /* FOOTER*/
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 7%;
  }
  .footer p {
    font-size: 20px;
    text-align: center;
  }
  .footer ul li {
    list-style: none;
    text-align: center;
  }
  .mapa p {
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }
  .mapa iframe {
    width: 100%;
    height: 300px;
  }
  .redes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  /*VETERINARIA*/
  .vet-titulo {
    margin-top: 10%;
    padding-top: 20px;
  }
  #veterinarias section img {
    width: 100%;
    height: 250px;
    margin: 0;
  }
  #veterinarias section {
    width: 100%;
    height: 450px;
    padding-bottom: 50%;
  }
  .veterinarias {
    display: flex;
    flex-direction: column;
  }
  #veterinarias p {
    margin-top: 2%;
    font-size: 12px;
  }
  /*ABOUT US*/
  #grid-nosotros {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #grid-nosotros h2 {
    margin-top: 15%;
  }
  #grid-nosotros p {
    padding-left: 3%;
    font-size: 20px;
    text-align: center;
  }
  #grid-nosotros .picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #grid-nosotros .picture img {
    margin: 2%;
    width: 97%;
    height: 280px;
    align-items: center;
  }
  /*REFUGIOS*/
  #carouselExampleSlidesOnly {
    height: 480px;
    width: 100%;
    margin-right: 5%;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .flex-container .card {
    margin: 5%;
    justify-content: center;
  }
  /*PRODUCTOS*/
  #product-container {
    padding-top: 20%;
  }
  .sectores {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .productos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 15%;
    width: 100%;
    height: 370px;
  }
  .productos:active {
    background-image: linear-gradient(rgba(255, 165, 0, 0.5), rgba(122, 106, 106, 0.5));
  }
  #product-container .productos p {
    font-size: 18px;
  }
  .productos img {
    width: 90%;
    height: 280px;
    padding: 1%;
  }
  .form-container {
    margin-top: 15%;
  }
}

/*# sourceMappingURL=styles.css.map */
