@import "../scss/variables.scss" ;
@import "../scss/veterinarias.scss";
@import "../scss/productos.scss";
@import "../scss/aboutus.scss";
@import "../scss/refugios.scss";
@import "../scss/contacto.scss";




* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Baskervville SC", serif;
   
    
  }
  
    @if $este-curso-es-increible == True{ 
        body { 
            background-image: linear-gradient(to right, rgb(11, 11, 160), rgb(255, 148, 8));
            width: 100%;
           
            
         }
        }     
    @else{
        body{
            background-color: #040453;
            

        }
    }   
    
    header{
      width: 100%;
    }
  
  /*CARRUSEL*/
  .carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0% 2%;
  }

  .carousel ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
  
  }

  .carousel li {
    width: 100%;
    list-style: none;
    position: relative;
  }

  .carousel img {
    width: 100%;
    height: 590px;
    align-items: center;
    
    
  }
  
  @keyframes slide {
    0% {
      margin-left: 0;
    }
    20% {
      margin-left: 0;
    }
    25% {
      margin-left: -100%;
    }
    45% {
      margin-left: -100%;
    }
    50% {
      margin-left: -200%;
    }
    70% {
      margin-left: -200%;
    }
    75% {
      margin-left: -300%;
    }
    100% {
      margin-left: -300%;
    }
  }
  /*TITULO*/
  @if $color-primario == red{
  .titulo {
    font-size: 55px;
    color: #66f3ad;
    text-align: center;
    float: left;
    text-shadow: 1px 2px 2px black, 0 0 25px rgb(35, 209, 142), 0 0 5px rgb(30, 43, 219);
    animation-duration: 2s;
   
    
  }
}

@else if $color-primario == blue{
    .titulo{
      font-size: 80px;
      color: #040b4e;
      text-align:justify;
      float: right;
      padding-left: 15%;

  }
}
  @else{
    .titulo{
      font-size: 60px;
      color: #fffb03;
      text-align: left;
      float: right;
      padding-left: 40%;
  }
}

  
/*BARRA DE NAVEGACION*/
#navbar{
    display: none;

    
}

.navbar-grande{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 7%;
  

}
  nav{
     ul {
      display: flex;
      flex-direction: row;
      justify-content:space-between;
  }

    li {
      text-align: center;
      padding: 0% 2%;
      font-family: "Baskervville SC", serif;
      font-weight: 400;
      font-style: normal;
      float: right;
      border-left: 1px white solid;
      font-size: 18px;
  }
}

  
  /*BOTONES*/
  .fill:focus, .fill:hover {
    box-shadow: inset 0 0 0 2em var(--hover);
     
    
  }
  
  .fill {
    --color:#ffffff;
    --hover: #66f3ad;
  
    
  }


  button {
    color: var(--color);
    transition: 0.75s;
    font-size: 18px;
    align-items: center;
    
    
  }
  
  button:focus, button:hover {
    border-color: var(--hover);
    color: #000007;
    margin-top: 2%;
    
    
   
  }
  
  .radius {
    background: 0 0;
    font-size: inherit;
    line-height: 1;
    padding: 1em 2em;
    border-radius: 20px;
  }

  .nav a{
    margin-top: 2%;

   }

  
  /*DESCUENTO*/
  h2 {
    text-align: center;
    font-family: "Baskervville SC", serif;
    font-weight: 400px;
    font-size: 100px;
    padding: 2% 0;
    background-color: rgba(207, 207, 207, 0.4);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .descuento {
    background: transparent;
    padding: 0 2%;
  }
  
  .lista {
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .producto {
    width: 250px;
    height: 370px;
    background-color: #ffffff;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 5%;
    padding-top: 2%;
    font-size: 19px;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);

    &:hover {
        transform: scale(1.1);
        background-image: linear-gradient(rgb(226, 109, 255), rgb(101, 247, 101));
      }
  }
  
  .producto img {
    width: 190px;
    height: 210px;
  }

  .producto p{
    margin-bottom: 5%;
  }
  
 
  
  /*FOOTER*/
  .footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    margin-top: 5%;
    padding: 0.5%;
    font-family: "Baskervville SC", serif;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 1px 2px 2px black, 0 0 25px rgb(35, 209, 142), 0 0 5px rgb(30, 43, 219);
  }
  
  .footer p {
    font-size: 20px;
  }
  
  .footer ul li {
    list-style: none;
  }
  
  .mapa p {
    text-align: center;
    padding: 5px;
  }
  
  .mapa iframe {
    width: 600px;
    height: 280px;
  }
  
  .redes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  
  /* RESPONSIVE  */

  
  @media (max-width: 1300px){ 

     /* NAVBAR*/

    #navbar{
        display:flex;
       
    } 

    #container-fluid{
        background-color: rgba(0, 0, 0, 0.9);
    }
    .navbar h1{
        font-size: 30px;   
     }
    .navbar-grande{
        display: none;

    }
    .offcanvas-body{
        background-color: rgba(0, 0, 0, 0.9);
    }
    .offcanvas-header{
        background-color: rgba(169, 233, 206, 0.9);
    }

    .nav-item:hover{
        border-radius: 20px;
        background-color: rgba(102, 243, 173, 0.7);
        transition: 1s;

    }

    /* CARROUSEL  */

    .carousel {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 0%;
        margin: 0%;
      }
      
      .carousel ul {
        display: flex;
        padding: 0;
        width: 400%;
        animation: slide 15s infinite alternate ease-in-out;
      }
      
      .carousel li {
        width: 100%;
        list-style: none;
        position: relative;
      }
      
      .carousel img {
        width: 100%;
        align-items: center;
      }
      
      @keyframes slide {
        0% {
          margin-left: 0;
        }
        20% {
          margin-left: 0;
        }
        25% {
          margin-left: -100%;
        }
        45% {
          margin-left: -100%;
        }
        50% {
          margin-left: -200%;
        }
        70% {
          margin-left: -200%;
        }
        75% {
          margin-left: -300%;
        }
        100% {
          margin-left: -300%;
        }
      }

/* DESCUENTO  */

h2{
    font-size: 60px;
}
.descuento {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(218, 252, 236, 0.8);
    padding: 0%;
    
  }
  
  .descuento .lista {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
  }

  .producto {
    margin-bottom: 5%;
    margin-left: 2%; 
    width: 90%;
    height: 400px;
    font-size: 12px;

    img {
      width: 80%;
      height: 300px;
    }
    p{
      font-size: 20px;
    }
    &:hover {
      transform: none;
      background-image: linear-gradient(rgb(226, 109, 255), rgb(101, 247, 101));
    }
    &:active{
      background-image: linear-gradient(rgba(255, 136, 0, 0.5), rgba(109, 102, 94, 0.5));
      
    }
}







    /* FOOTER*/

    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .footer p {
        font-size: 20px;
        text-align: center;
      }
      
      .footer ul li {
        list-style: none;
        text-align: center;
      }
      
      .mapa p {
        text-align: center;
        padding: 5px;
        font-size: 20px;
      }
      
      .mapa iframe {
        width: 100%;
        height: 300px;
      }
      
      .redes {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      } 

    /*VETERINARIA*/

    .vet-titulo{
        margin-top: 10%;
        padding-top: 20px;
    }
    

    #veterinarias section img {
      width: 100%;
      height: 250px;
      margin: 0;
    }
    #veterinarias section {
      width: 100%;
      height: 450px;
      padding-bottom: 50%;
    }
    .veterinarias{
      display: flex;
      flex-direction: column;
    }

    #veterinarias p {
      margin-top: 2%;
      font-size: 12px;

    }
    /*ABOUT US*/
    #grid-nosotros{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #grid-nosotros p {
      padding-left: 3%;
      font-size: 20px;
      text-align: center;
    }

    #grid-nosotros .picture{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    #grid-nosotros .picture img{
        margin: 2%;
        width: 100%;
        height: 280px;
        align-items: center;
    }

   
    /*REFUGIOS*/
    #carouselExampleSlidesOnly{
        height: 480px;
        width: 100%;
        margin-right: 5%
    }
    .flex-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .flex-container .card {
      margin: 5%;
      justify-content: center;
    }
    /*PRODUCTOS*/

    #product-container{
      padding-top: 20%;
    }

    .sectores{
      display: flex;
      flex-direction: column;
      width: 80%;


    }

    .productos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin-left: 15%;
      width: 100%;
      height: 370px;

      &:active{
        background-image: linear-gradient(rgba(255, 165, 0, 0.5), rgba(122, 106, 106, 0.5) );
      }
    }
    #product-container .productos p {
     
      font-size: 18px;
    }

    .productos img{
        width: 90%;
        height: 280px;
        padding: 1%;

    }

    
}



